.select-file {
    border: 1px dashed var(--ion-color-primary);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}